.table{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    background: white;
    padding: 20px;
    max-width: 570px;
    width: 100%;
    @media (max-width: 450px) {
        padding: 10px;
    }
    .title{
        display: flex;
        border-bottom: 1px solid #34384C;
        padding-top: 10px;
        padding-bottom: 10px;
        >div{
            flex: 1;
            display: flex;
            justify-content: center;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .spendRe{
        display: flex;
        flex-direction: column;
        background: #F7F9FB;
        gap: 20px;
        padding: 15px;
        border-radius: 12px;
        @media (max-width: 450px) {
            padding: 10px;
        }
        .input{
            display: flex;
            border-radius: 10px;
            border: 1px solid #DFDFDF;
            align-items: center;
            padding: 10px 20px;
            justify-content: space-between;
            background: white;
            @media (max-width: 450px) {
                padding: 10px 20px;
            }
            .coin{
                display: flex;
                gap: 10px;
                align-items: center;
            }
            >div{
                >input{
                    outline: none;
                }
            }
        }
    }
    .Swap{
        display: flex;
        justify-content: center;
        >img{
            max-width: 50px;
            max-height: 50px;
        }
    }
    .price{
        display: flex;
        gap: 20px;
        font-size: 14px;
    }
    .button{
        display: flex;
        border-radius: 100px;
        background: red;
        color: white;
        justify-content: center;
        padding: 20px 32px;
        font-size: 18px;
        font-weight: 500;
        @media (max-width: 450px) {
            padding: 10px 22px;
        }
    }
}