.header{
    &-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 75px;
        &_menu{
            display: flex;
            gap: 10px;
            align-items: center;
            @media (max-width:700px) {
                flex-direction: column;
                align-items: flex-start;
            }
            .MenuHeader{
                display: flex;
                align-items: center;
                gap: 15px;
                @media (max-width:991px) {
                    flex-direction: column;
                }
                .chamtron{
                    display: none;
                    
                    @media (max-width:1100px) {
                        display: block;
                        display: flex;
                        align-items: center;
                        gap: 2px;
                    }
                }
                .MapMenu{
                    display: flex;
                    color: white;
                    gap: 5px;
                    font-size: 12px;
                    align-items: center;
                    // display: none;
                    @media (max-width:1100px) {
                        display: none;
                    }
                    

                }
                
            }
        }
        &_log{
            display: flex;
            gap: 10px;
            align-items: center;
            @media (max-width:700px) {
                flex-direction: column-reverse;
                gap: 5px;
                .iconheader{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .mapicon{
                        max-width: 22px;
                        width: 100%;
                    }
                }
            }
            .InUp{
                color: white;
                display: flex;
                gap: 10px;
                align-items: center;
                @media (max-width:500px) {
                    .LogIn{
                        padding: 5px 10px !important;
                    }
                    .SignUp{
                        padding: 5px 10px !important;
                    }
                }
                .LogIn{
                    border: 1px solid white;
                    border-radius: 20px;
                    justify-content: center;
                    padding: 5px 15px;
                    color: white;
                }
                .SingUp{
                    border-radius: 20px;
                    padding: 5px 15px;
                    background: red;
                    justify-content: center;
                    color: white;
                }
            }
            .iconheader{
                display: flex;
                gap: 5px;
                align-items: center;
            }
            .logout{
                display: flex;
                width: 28px;
                height: 28px;
                // background: white;
            }
        }
    }
    
}
.MapMobile{
    display: none;
    
    @media (max-width:991px) {
        background: #232531;
        // display: block;
        display: flex;
        flex-direction: column;
        color: white;
        max-width: 200px;
        width: 100%;
        padding-left: 30px;
        transition: all 0.5s;
        position: fixed;
        z-index: 9;
        .MenuMoblie{
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
}
.showbuycrypto{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #DFDFDF;
    width: 230px;
    border-radius: 0 0 12px 12px;
    margin-left: 154px;
    position: absolute;
    z-index: 9;
    .showmap{
        display: flex;
        align-items: center;
        gap: 10px;

    }
}
.showwallet{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #DFDFDF;
    width: 230px;
    border-radius: 0 0 12px 12px;
    margin-left: 448px;
    position: absolute;
    z-index: 9;
    .showmap{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.showacti{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #DFDFDF;
    width: 230px;
    border-radius: 0 0 12px 12px;
    margin-left: 564px;
    position: absolute;
    z-index: 9;
    .showmap{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.showp2p{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #DFDFDF;
    width: 230px;
    border-radius: 0 0 12px 12px;
    margin-left: 513px;
    position: absolute;
    z-index: 9;
    .showmap{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.showconnect{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid #DFDFDF;
    width: 230px;
    border-radius: 0 0 12px 12px;
    margin-left: 683px;
    position: absolute;
    z-index: 9;
    .showmap{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}