.TitleCryptos{
    &-main{
        display: flex;
        justify-content: center;
        height: 107px;
        &-text{
            display: flex;
            max-width: 1000px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 500px) {
                flex-direction: column;
                justify-content: center;
                gap: 20px;
            }
            .his{
                display: flex;
                gap: 30px;
                .noti{
                    display: flex;
                    gap: 5px;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}