.Footer{
    &-main{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        &_title{
            display: flex;
            gap: 10px;
            color: white;
            padding-bottom: 10px;
            border-bottom: 1px solid #34384C;
            .logo{
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 400px;
                width: 100%;
                @media (max-width:1000px) {
                    max-width: 250px;
                }
                @media (max-width:778px) {
                    max-width: 200px;
                    .titlelogo{
                        .crypto{
                            font-size: 18px !important;
                        }
                        .multi{
                            font-size: 15px !important;
                        }
                    }
                    .imgFooter{
                        flex-direction: column;
                    }
                }
                @media (max-width:610px) {
                    max-width: 150px;
                }
                .imgFooter{
                    display: flex;
                    gap: 5px;
                    >img{
                        max-width: 113px;
                        width: 100%;
                    }
                }
                
            }
            .textFooter{
                display: flex;
                width: 100%;
                justify-content: space-between;
                @media (max-width:500px) {
                    gap: 5px;
                }
                .mapFooter{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    @media (max-width:778px) {
                        >div{
                            font-size: 10px !important;
                        }
                    }
                }
            }
        }
        &_img{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            text-align: center;
            @media (max-width:778px) {
                >div{
                    font-size: 13px !important;
                }
            }
            .menuImg{
                display: flex;
                gap: 15px;
                @media (max-width:600px) {
                    max-width: 170px;
                    flex-wrap: wrap;
                }
            }
        }
    }
}