.Markets{
    &-main{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 5px;
        width: 80%;
        margin: auto;
        &_title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1238px;
            width: 100%;
        }
        &_table{
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            background: #FFFFFF;
            gap: 20px;
            padding: 10px;
            max-width: 1238px;
            width: 100%;
            @media (max-width:850px) {
                max-width: 950px;
                overflow: auto;
                .TitleTable{
                    width: 950px;
                }
                .DataTable{
                    width: 950px;
                }
            }
            .TitleTable{
                display: flex;
                text-align: center;
                >div{
                    font-size: 16px;
                    color: #6F74B0;
                    flex : 1;
                }
                gap: 20px;
            }
            .DataTable{
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 14px;
                .MapData{
                    display: flex;
                    align-items: center;
                    text-align: center;
                    >div{
                        flex: 1;
                    }
                    // p:last-child{
                    //     max-width: 60px;

                    // }
                    
                    .NameData{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        >img{
                            width: 28px;
                            height: 28px;
                        }
                        
                        .NameCoin{
                            font-size: 16px;
                            color: #B9BDEA;
                        }
                    }
                }
            }
        }
        &_content{
            display: flex;
            gap: 20px;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            .CnowExchange{
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                background: #FFF6F1;
                // max-width: 290px;
                width: 290px;
                align-items: flex-start;
                padding: 20px;
            }
        }
    }
}